.nav{
    color: yellow
}

.topnav{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: block;
  color: #00E9FF;
  text-decoration: none;
  width: 200px;
  margin: auto
}
.topnav:hover 
{
  color: black; background-color:yellow
}